# Google Apps Script Web App Deployment URL
# Format URL: https://script.google.com/macros/s/.../exec
GAS_URL=https://script.google.com/macros/s/AKfycbyYpx0ez6M8LC4KalTwE6FUHt8KzvLW6AWYoz9MjU0W8QV064k9uJqd4cyCo18nxx5E/exec
VITE_GAS_URL=https://script.google.com/macros/s/AKfycbyYpx0ez6M8LC4KalTwE6FUHt8KzvLW6AWYoz9MjU0W8QV064k9uJqd4cyCo18nxx5E/exec
